@import url(https://fonts.google.com/specimen/Poppins);
:root {
    --main-color-light: #fddddd;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}


/* Carousel slider */

h2 {
    padding-left: 40px;
}

.carousel {
    background-color: #eee;
    width: 80vw;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 20px;
}

.carousel img {
    width: 500px;
    height: 40vh;
}

.header nav .container-fluid {
    width: 100%;
}

.header nav .navbar-nav {
    width: 120%;
    margin-left: 50%;
    margin-right: 10px;
}

.header nav .container-fluid .item-none {
    border-radius: 45px;
    width: 150px;
    color: black;
    text-align: center;
}

.header nav .container-fluid .item-colo {
    border-radius: 45px;
    width: 150px;
    color: black;
    background-color: white;
    text-align: center;
}

.header nav .container-fluid .users-log {
    max-height: 40px;
    max-width: 40px;
    background-color: white;
    border-radius: 90px;
    margin: auto;
    margin-left: 0;
    text-align: center;
}

.header nav .input-group button {
    height: 100%;
}


/*  */

button {
    padding: 8px 16px;
    font-size: 25px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #e69100;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.alert {
    background: #ffdb9b;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
    }
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}

.alert .msg {
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}

.alert .close-btn:hover {
    background: #ffc766;
}

.alert .close-btn .fas {
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}


content > .item {
    cursor: pointer;
} 

/* Suggestion */

content {
    padding-top: 20px;
}

content .main-content .suggest {
    width: 100%;
    padding-left: 40px;
    height: 300px;
    margin-top: 15px;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
}

content .main-content .suggest::-webkit-scrollbar {
    display: none;
}

content .main-content .suggest .item {
    min-width: 180px;
    height: 180px;
    list-style-type: none;
    margin-right: 10px;
}

content .main-content .suggest .item img {
    width: 100%;
    height: 100%;
}


/*  */

content .main-content .new {
    width: 100%;
    padding-left: 40px;
    height: 300px;
    margin-top: 15px;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
}

content .main-content .new::-webkit-scrollbar {
    display: none;
}

content .main-content .new .item {
    min-width: 180px;
    height: 180px;
    list-style-type: none;
    margin-right: 10px;
}

content .main-content .new .item img {
    width: 100%;
    height: 100%;
}

content .main-content .item:active {
    color: #eee;
}

content .sub-content .BXH .songItem:active {
    color: white
}


/* BXH */

content .sub-content .BXH {
    width: 70%;
}

content .sub-content .BXH li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

content .sub-content .BXH li span {
    font-weight: 600;
    font-size: 12px;
    margin-right: 10px;
}

content .sub-content .BXH li i {
    display: inline-block;
}

content .sub-content .BXH h5 {
    font-size: 15px;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

content .sub-content .BXH .subtitle {
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

content .sub-content .BXH .bi {
    position: absolute;
    right: 15px;
}

content .sub-content .BXH li:hover {
    background: #eee;
    color: #8b6767;
}

content .main-content p {
    margin-bottom: 0px;
}

content .main-content .item p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 992px) {
    .header nav .navbar-nav {
        width: 90%;
        margin-left: 20px;
        margin-right: 10px;
    }
    content .main-content .suggest .item {
        min-width: 120px;
        margin-right: 10px;
    }
    content .main-content .suggest {
        height: 180px;
    }
    content .main-content .new .item {
        min-width: 120px;
        margin-right: 10px;
    }
    content .main-content .new {
        height: 180px;
    }
    content .sub-content {
        display: none;
    }
    content .sub-play {
        display: none;
    }

    content .main-content .new .item img {
        height: 70%;
    }

    content .main-content .suggest .item img {
        height: 70%;
    }
}

/* Duration */

content .main-play .duration {
    width: 100%;
    text-align: center;
}

content .main-play .duration input {
    width: 90%;
}

/*  */

content .main-play #progressbar {
    width: 90%;
    height: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: #eee;
    border-radius: 40px;
}

content .main-play #progressbar #progressed {
    width: 0%;
    height: 100%;
    border-radius: 40px;
    background-color: #8b6767;
}

/* Script */

content .main-play .lyrics {
    width: 100%;
    height: 50vh;
    background-color: #eee;
    border-radius: 10px;
    padding-left: 40px;
    overflow: auto;
    scroll-behavior: smooth;
}

/* Play PHP */

content .main-play .control {
    width: 100%;
    text-align: center;
}

content .main-play .control i {
    font-size: 40px;
}

content .main-play .control .random-color {
    color: #eee;
}

content .main-play .control .bi-play-circle-fill {
    margin: 0 10%;
}

content .main-play .control .bi-pause-circle-fill {
    margin: 0 10%;
}

content .main-play .control .bi-heart-fill {
    float: right;
    padding-right: 20px;
}

content .main-play .control .bi-heart-fill:hover {
    color: red;
}

content .sub-play .container {
    width: 90%;
    height: 90vh;
    background-color: #eee;
    border-radius: 10px;
    padding-left: 40px;
    overflow: auto;
    scroll-behavior: smooth;
}

content .main-play .container {
    width: 95%;
    height: 50vh;
    background-color: #eee;
    border-radius: 10px;
    padding-left: 40px;
    overflow: auto;
    scroll-behavior: smooth;
}

content .main-play .container::-webkit-scrollbar {
    width: 10px;
}

content .main-play .container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

content .main-play .container::-webkit-scrollbar-thumb {
    background: #dcc2c2;
    border-radius: 10px;
}

content .main-play .container::-webkit-scrollbar-thumb:hover {
    background: #fddddd;
}

content .main-play .container  ul {
    max-height: 100px;
    list-style-type: none;
    padding-right: 10px;
}

content .sub-play .container::-webkit-scrollbar {
    width: 10px;
}

content .sub-play .container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
}

content .sub-play .container::-webkit-scrollbar-thumb {
    background: #dcc2c2;
    border-radius: 10px;
}

content .sub-play .container::-webkit-scrollbar-thumb:hover {
    background: #fddddd;
}

content .sub-play .container li {
    max-width: 100%;
    max-height: 100px;
    padding-right: 10px;
    list-style-type: none;
}

content .main-play .container ul .li:first-child {
    margin-top: 20px;
}

content .sub-play .container .row .item:first-child {
    margin-top: 20px;
}

content .main-play .container .ul li:first-child p {
    color: #8b6767;
}

content .sub-play .container .row li:hover {
    color: #8b6767;
}

content .main-play .container ul li:first-child {
    padding-top: 20px;
}

content .main-play .container ul li {
    padding-bottom: 20px;
}

content .main-play .container .ul li:hover {
    color: #8b6767;
}

content .main-play .container .ul li {
    position: relative;
}

content .main-play .container .ul li i {
    position: relative;
    left: 100%;
    bottom: 60%;
}

content .main-play .container .ul li:active {
    color: white;
}

content .sub-play .container .row li:active {
    color: white;
}

content .sub-play .container .row li {
    position: relative;
}

content .sub-play .container .row li i {
    position: relative;
    left: 100%;
    bottom: 60%;
    font-size: 20px;
}

/*  */

content .edit-area .container {
    width: 95%;
    height: auto;
    background-color: #eee;
    border-radius: 10px;
    padding-left: 40px;
    overflow: auto;
    scroll-behavior: smooth;
}

content .edit-area .container .row .input {
    width: 100%;
}